.Card {
  width: 18vw;
  background-color: var(--bg);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: #00000026 1.95px 1.95px 2.6px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  justify-content: center;
  gap: 10px;

}

.Card img {
  width: 100%;
}
.disPara {
  height: 150px;
}
.Card h4,
.Card p {
  padding: 10px;
}
.Card span {
  background-color: var(--sec-btn);
  color:var(--btn-text);
  border-radius: 30px;
  padding: 5px 15px;
  max-width: 90%;
}
