body {
  background-image: url("https://console.indolj.io/upload/1711524709-Bg.jpg");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
.header {
  padding: 10px;
  background-color: #fff;
}
.header h1 {
  text-align: center;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  align-items: center;
  justify-content: center;
}
.CardBtn {
  background-color: #193b1d;
  color: #e0af49;
  width: 100%;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 30px;
  border: none;
}
