:root {
  --btn-text: #e0af49;
  --bg: #fff;
  --btn: #193b1d;
  --sec-btn: #8b0002;
}
/* html{
  display: flex;
  align-items: center;
  justify-content: center;
  
} */
body {
  background-image: url("https://console.indolj.io/upload/1711524709-Bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  padding: 10px;
  background-color: #fff;
}
.header h1 {
  text-align: center;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  align-items: center;
  justify-content: center;
}
.CardBtn {
  background-color: #193b1d;
  color: #e0af49;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 30px;
  border: none;
}
.searhbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searhbar select {
  background-color: var(--btn);
  color: var(--btn-text);
  border: none;
  border-radius: 30px;
  margin: 10px; 
  padding: 10px 10px;
}
.searhbar option {
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
}
.searhbar select:hover {
  border: 1px solid var(--btn-text);
  cursor: pointer;
  transition: ease;
}
.searhbar button:hover {
  border: 1px solid var(--btn-text);
  cursor: pointer;
  transition: ease;
}
.searh {
  display: flex;
  width: 80%;
}
.searh input {
  border-radius: 30px;
  padding: 10px 30px;
  width: 100%;
  border: 1px solid var(--btn);
  margin: 10px 0;
}
.searh input:focus-visible,
.searhbar select:focus-visible {
  border: 3px solid var(--btn-text);
  outline: var(--btn-text);
}
.Banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  text-align: center;
}
.Banner img {
  width: 95%;
  object-fit: contain;
  border-radius: 20px;
}

@media screen and (max-width: 480px) {
  p{
    font-size: 14px;
  }
  .Card {
    width: 90vw;
  }
  .mymodal{
    width: 95%;
    flex-direction: column;
  }
  .leftbox{
    width: 100%;
  }
  .searh{
  flex-direction: column !important;
   align-items: center;
   justify-content: center;
  }
}
@media screen and (min-width: 768px) {

  p{
    font-size: 14px;
  }
  .Card {
    width: 30vw;
  }
  .mymodal{
    width: 95%;
  }
  .leftbox img{
    width: 100%;
   object-fit: contain;
  }
  .leftbox{
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
 
  .Card {
    width: 22vw;
  }
  .mymodal{
    width: 80%;
  }

}
@media screen and (min-width: 1440px) {
 
  .Card {
    width: 18vw;
  }
  .mymodal{
    width: 60%;
  }

}