body {
  background-color: red;
  background-image: url("https://console.indolj.io/upload/1711524709-Bg.jpg");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
.header {
  padding: 10px;
  background-color: #fff;
}
.header h1 {
  text-align: center;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  align-items: center;
  justify-content: center;
}
.CardBtn {
  background-color: #193b1d;
  color: #e0af49;
  width: 90%;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 30px;
  border: none;
  
}

@media screen and (max-width: 480px) {
  p{
    font-size: 14px;
  }
  .Card {
    width: 90vw;
  }
  .mymodal{
    width: 95%;
    flex-direction: column;
  }
  .leftbox{
    width: 100%;
  }
}
@media screen and (min-width: 768px) {

  p{
    font-size: 14px;
  }
  .Card {
    width: 30vw;
  }
  .mymodal{
    width: 95%;
  }
  .leftbox img{
    width: 100%;
   object-fit: contain;
  }
  .leftbox{
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
 
  .Card {
    width: 22vw;
  }
  .mymodal{
    width: 80%;
  }

}
@media screen and (min-width: 1440px) {
 
  .Card {
    width: 18vw;
  }
  .mymodal{
    width: 60%;
  }

}